---
import LandingPage from '@/components/ui/landing-page';
import Layout from '@/layouts/Layout.astro';
import siteData from '@/siteData';
---

<Layout>
	<main class="flex flex-col items-center gap-8 py-8 px-4 w-full min-h-[80vh]">
		<div>
			<LandingPage client:load siteData={siteData} />
		</div>
	</main>
</Layout>
